# Dependências
node_modules/

# Build
dist/
.next/
out/

# Prisma (gerado automaticamente por npx prisma generate)
generated/

# Ambiente
.env
.env.*
!.env.example

# Docker
pgdata/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testes
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Next.js & Vercel
build/
.vercel/

# ESLint
.eslintcache